<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Extra Credit Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="VueApp">
        <!-- {{ message }} -->
        <!-- {{items[0].name}} -->
        <p v-if="cartItem > 0">  Cart Item: {{cartItem}} </p>
        

            <div v-for="item in items">
               <p id="task"> {{ item.Task}} </p>
               
               <form v-on:click="addItem(item)"  >
                    Enter a task: <input type="text"><br>
                    
                </form>

               <button v-on:click="addItem(item)" >Add Task  </button>
               <button v-on:click="deleteItem(item)" v-if="item.ordered > 0"> Delete Task </button>

            </div>
        

        <!-- <p> {{ entry }}</p>
        <input type="text" v-model="entry"> -->
    </div>

    <script>

        var app = new Vue({
            el: "#VueApp",
            data: {
                items: [
                    {Task: "Task 1 " },
                    {Task: "Task 2"}
                                    
                ],
            },
            methods: {
                addItem: function(anItem){
                    anItem.ordered += 1;
                },
                deleteItem: function(anItem) {
                    anItem.ordered -=1;
                    this.cartItem -=1;
                }
            }
        })
    
    </script>
</body>
</html>